%footer#main-footer.bg-light.p-5
  %p.text-center Copyright &copy; Santiago Rodriguez
  %div.row.mt-5
    %div.col-6.text-right
      = link_to 'LinkedIn', 'https://www.linkedin.com/in/santiago-andres-rodriguez-marquez'
    %div.col-6
      = link_to 'GitHub', 'https://github.com/santiago-rodrig'